# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
.turbo/
out/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# Prisma
packages/db/prisma/*.db
packages/db/prisma/migrations/dev*

# Expo / RN
apps/mobile/.expo/
apps/mobile/web-build/
*.jks
*.p8
*.p12
*.mobileprovision

# Logs & OS
*.log
npm-debug.log*
.DS_Store
coverage/
